.landing{
    margin-left: 10%;
    margin-right: 10%;
}

#landing-pic{
    width: 70%;
    height: 70%;
    overflow: hidden;
    border-radius: 40%;
    border: solid black 2.5px;
    align-self: center;
    margin-left: 15%;
    /* margin-right: 15%; */
    margin-top: 8%
}

#urbanloop-pic{
    margin-top: 10%;
    width: 80%;
    height: 80%;
    border: solid 5px black;
}

#worldpay-pic{
    margin-top: 10%;
    margin-left: 10%;
    width: 65%;
    height: 65%;
    border: solid 5px black;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#intro{
    margin-left: 15%;
    margin-right:15%;
    margin-top: 50%;
    /* margin */
}